doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', type="image/x-icon", href='https://chriscorchado.com/images/chrisCorchado.ico')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='//cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.min.css')
    link(rel='stylesheet', href='//cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.gallery.min.css')
    link(rel='stylesheet', href='/css/chriscorchado.css')
    link(rel='stylesheet', href='/css/company.css')
    link(rel='stylesheet', href='/css/course.css')
    link(rel='stylesheet', href='/css/project.css')
    link(rel='stylesheet', href='/css/contact.css')
  body
    header(id='navigation')

    block content

    script(src='https://code.jquery.com/jquery-3.5.0.min.js')
    script(src='//cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.min.js')
    script(src='//cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.gallery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/detect_swipe/2.1.1/jquery.detect_swipe.min.js')
    script(src='/js/chriscorchado.js')

    footer(id='footer')
