doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', type="image/x-icon", href='https://chriscorchado.com/images/chrisCorchado.ico')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='//cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.min.css')
    link(rel='stylesheet', href='//cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.gallery.min.css')
    link(rel='stylesheet', href='/css/chriscorchado.css')
    link(rel='stylesheet', href='/css/company.css')
    link(rel='stylesheet', href='/css/course.css')
    link(rel='stylesheet', href='/css/project.css')
    link(rel='stylesheet', href='/css/contact.css')
  body
    header(id='navigation')
      nav.navbar.navbar-light.bg-light.fixed-top.navbar-fixed-top.shadow
        div#navbarCollapse.navbar-collapse
          div#navbar-nav.navbar-nav.show
            
            a#logo.navbar-brand(href="index")
              img#logo-image(src="https://chriscorchado.com/images/chriscorchado-initials-logo.png" title="Home" alt="Chris Corchado Logo")
            
            a#companies-link.nav-item.nav-link(href="companies" title="History") History
            a#courses-link.nav-item.nav-link(href="courses" title="Courses") Courses
            a#projects-link.nav-item.nav-link(href="projects" title="Projects") Projects
            a#contact-link.nav-item.nav-link(href="contact" title="Contact") Contact

        div#profiles        

        div#search-container
          span#searchCount Loading...
          input#searchSite.ccBtn(type="text" placeholder="Search items"   title="Enter something to search for")
          button#searchBtn.searchBtn(title="Clear the search") clear

          div#pagination

    block content

    script(src='https://code.jquery.com/jquery-3.5.0.min.js')
    script(src='//cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.min.js')
    script(src='//cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.gallery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/detect_swipe/2.1.1/jquery.detect_swipe.min.js')
    script(src='/js/chriscorchado.js')

    footer(id='footer')
      div.site-version 
        div 
          img(alt="nodeJS" title="nodeJS"  src="https://chriscorchado.com/images/nodejs.png")

        div 
          img(alt="mongoDB" title="mongoDB"  src="https://chriscorchado.com/images/mongodb.png")
        
        div 
          img(alt="mongoose" title="mongoose"  src="https://chriscorchado.com/images/mongoose.png")
        
        div 
          img(alt="pugjs" title="pugjs"  src="https://chriscorchado.com/images/pugjs.png")
        
        div 
          img(alt="TypeScript" title="TypeScript"  src="https://chriscorchado.com/images/typescript.png")

        div 
          img(alt="Sass" title="Sass"  src="https://chriscorchado.com/images/sass.png")

        div 
          img(alt="HTML5" title="HTML5"  src="https://chriscorchado.com/images/html5.png")


        div
          a(href="https://github.com/chriscorchado125/NodeJS" target="_blank")
            img(alt="View the code on GitHub" title="View the code on GitHub"  src="https://chriscorchado.com/images/github.jpg")
