extends layout

block content

  div.container.about

    h1 !{title}
    p
    p#recordCounts #[strong History:] !{data.company_count} | #[strong Courses:] !{data.course_count}  | #[strong Projects:] !{data.project_count}