extends layout

block content

  div.container.about

    h1 !{title}
    p
    p#recordCounts #[strong About:] !{data.home_count} | #[strong History:] !{data.company_count} | #[strong Courses:] !{data.course_count}