@import "./../variables.scss";

.container > h1 {
  margin-top: 100px;
}

#contact-message-feedback-form {
  margin: auto;
  background-color: $main_color_light;
  padding: 10px 10px 30px 10px;
  text-align: center !important;
  max-width: 600px;
  border-radius: 10px;

  label {
    display: block;
  }

  #thank-you {
    margin-top: 50px;
  }

  /* holds the current page url */
  #edit-field-site-wrapper {
    display: none;
  }

  /* subject align */
  .form-text {
    display: inline !important;
  }

  #edit-name {
    max-width: 220px;
  }

  #edit-mail {
    max-width: 220px;
    margin-bottom: 50px;
  }

  #edit-subject-0-value {
    max-width: 90%;
  }

  #edit-message-0-value {
    max-width: 95%;
  }

  // send message button
  #edit-actions {
    margin-top: 30px;
  }

  textarea {
    max-width: 600px;
  }
}

#timer {
  margin-top: 50px;
  max-width: 250px;
}

@media (max-width: 700px) {
  .container > h1 {
    margin-top: 135px;
  }
}
